html{
	font-family: Helvetica;
	background-color: #B24C34
}

#header{
	margin: auto;
	width: auto;
	height: 50px;
}

#content{
	margin: auto;
	width: 880px;
	height: auto;
	background-color: #CCFF7E;
	padding: 30px 100px;
}

.picture{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: auto;

}